<?xml version="1.0"?>
<launch>
    <rosparam file="$(find joint_state_controller)/joint_state_controller.yaml" command="load"/>
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen"/>
    <!-- <rosparam file="$(find my_robot_controller)/config/simple_controller.yaml" command="load" /> -->
    <!-- Launch the controller manager with the wheel controller -->
    <!-- <node name="controller_manager" pkg="controller_manager" type="spawner" respawn="false" output="screen" args="joint_state_controller wheel_left_controller wheel_right_controller" /> -->
    <!-- <node pkg="my_robot_controller" type="controller.py" name="controller_node" respawn="true" output="screen">
    </node> -->
    <rosparam file="$(find my_robot_controller)/config/diff_drive_controller.yaml" command="load" />
    <node name="controller_manager" pkg="controller_manager" type="spawner" respawn="false" output="screen" args=" my_robot_controller joint_state_controller" />
</launch>
